{% extends 'base.html' %}

{% block content %}
        <h1>Jay's Blog! </h1>
        
        <a href="/article/new" > New article </a> 
        
        <ul> 
            {% for article in articles %}
                <div class="post"> 
                    <a href="{% url 'post_details' id=article.pk %}" > 
                    <h2>{{article.title}}</h2>
                    {% for top in topics %}
                        {% if top.id == article.id %}
                            <h6>Topic: {{top}}</h6>
                        {% endif %}
                    {% endfor %}
                    
                    </a> 
                </div>
                
            
            {% endfor %}
        </ul>
        
{% endblock %}    
