
body { 
    background: linear-gradient(0deg, rgb(0, 171, 223), rgb(0, 110, 255), rgb(84, 161, 212)  ); 
    color: white; 
    background-repeat: repeat; 
    background-size: cover; 
    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0.5px;
}
nav { 
   font-size: 2em; 
}
nav a { 
    text-decoration: none; 
    margin-left: 8px; 
    position: fixed; 
}
h1 { 
    text-align: center; 
    animation: 5s; 
    animation-name: change_color; 
    margin-left: 20px; 
    color: rgb(93, 248, 101);
    font-family: 'Euphoria Script', cursive;
    font-size: 4em; 
}

p, h3, h2 { 
    text-align: center; 
}
h2 { 
    font-size: 34px; 
    text-decoration: underline; 
}
h3 { 
    font-size: 18px; 
    text-decoration: underline; 
}
p { 
    padding: 0 20px; 
    font-size: 24px;
    font-family: Helvetica, sans-serif; 
}
ul { 
    border: 2px solid transparent; 
    border-radius: 7px; 
    padding: 0 40px; 
}
.author { 
    display: block; 
    text-align: center; 
}
.post { 
    background: rgba(201, 201, 201, 0.589);  
    border: 2px solid gray;
    border-radius: 7px; 
    margin-top: 20px; 
    color: black;  
    margin-left: 40px; 
    margin-right: 40px; 
}
.post a { 
    text-decoration: none; 
}
.post-container { 
    padding: 100px 0; 
    padding-bottom: 400px; 
}
.date { 
    font-size: 14px; 
    text-align: center; 
    margin-top: -20px; 
}
h6 { 
   margin-top: -20px; 
   text-align: center; 
   font-size: 16px; 
   margin-bottom: 25px; 
}
.form-input { 
    display: block; 
    margin: 0 auto; 
    text-align: center;  
}
.comment-container { 
    background: rgba(201, 201, 201, 0.589);  
    border: 2px solid gray;
    border-radius: 7px; 
    padding: 50px 0;  
    margin: 80px 40px; 
    color: black; 
}
.comments { 
    font-size: 14px; 
}

@keyframes change_color { 
    10% { 
        color: rgb(253, 72, 72); 
    }
    20% { 
        color: rgb(252, 237, 34); 
        font-size: 3em; 
    }
    40% { 
        color: rgb(93, 248, 101); 
        font-size: -3em; 
    }
    80% { 
        color: rgb(185, 81, 185); 
    }
}